{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
  <h1>Sync Reddit Name</h1>

  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div>
    <div>
      {% if discord %}
      Logged into Discord as {{ discord['username'] }}#{{ discord['discriminator'] }}
      <a class="btn btn-danger" href="/logout/discord">Logout of Discord</a>
      {% else %}
      <a class="btn btn-primary" href="/redirect/discord">Login to Discord</a>
      {% endif %}
    </div>
    <div style="padding-top: 20px;">
      {% if reddit %}
      Logged into Reddit as {{ reddit['name'] }}
      <a class="btn btn-danger" href="/logout/reddit">Logout of Reddit</a>
      {% else %}
      <a class="btn btn-primary" href="/redirect/reddit">Login to Reddit</a>
      {% endif %}
    </div>
  </div>

  <div>
    {% if reddit and discord %}
    <a class="btn btn-primary" href="/link">Link Accounts!</a>
    {% endif %}
  </div>
  {% endblock %}
</div>
